src/answer.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="answer-list">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="answer" maxOccurs="unbounded">
            <xs:complexType>
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="id" type="xs:ID"/>
                        <xs:attribute name="time-taken" type="xs:float"/>
                        <xs:attribute name="hint-used" type="xs:boolean"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>
